<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Workout</title>
</head>
<body>

    <ul>
        <li><a href="/">VIEW LOG</a></li>
        <li><a href="/add">ADD WORKOUT</a></li>
    </ul>
    <hr>

    <h1>Add New Workout</h1>
    <form action="/add" method="POST">
        <label>Workout Title:</label>
        <input type="text" name="title" placeholder="e.g. Chest Day" required>
        <hr>

        {% for i in range(1, 6) %}
            <div>
                <h3>Exercise {{ i }}</h3>
                
                <p>Set A:</p>
                <select name="ex_name">
                    <option value="">-- Select Exercise / Reset --</option>
                    {% for group, names in exercises.items() %}
                        <optgroup label="{{ group }}">
                            {% for name in names %}
                                <option value="{{ name }}">{{ name }}</option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>

                <input type="number" name="weight" placeholder="kg">
                <input type="number" name="reps" placeholder="Reps">

                <br>
                
                <p>Set B:</p>
                <select name="ex_name">
                    <option value="">-- Select Exercise / Reset --</option>
                    {% for group, names in exercises.items() %}
                        <optgroup label="{{ group }}">
                            {% for name in names %}
                                <option value="{{ name }}">{{ name }}</option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>

                <input type="number" name="weight" placeholder="kg">
                <input type="number" name="reps" placeholder="Reps">
            </div>
        {% endfor %}

        <button type="submit">SAVE WORKOUT</button>
    </form>
    
</body>
</html>